[submodule "config_git/VIM/.vim/bundle"]
	path = config_git/VIM/.vim/bundle
	url = git@github.com:zhwei/config_git.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
