[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "pure"]
	path = zsh/pure
	url = https://github.com/sindresorhus/pure
[submodule "vim/awesome-colors"]
	path = vim/awesome-colors
	url = https://github.com/rafi/awesome-vim-colorschemes.git
